<section><br><br>
<div class="container">
  <div class="row">
  <div class="col-lg-6">
  <div style="color: lightslategrey;">
  <h1>{{title}}</h1>
  <h3>{{description}}</h3>
  </div>

  <div style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="item">Escriba el servicio que solicita</label>
      <input type="text" class="form-control" 
      placeholder="Ingresar búsqueda..." id="item"
      required [(ngModel)]="itemValue" name="item">
    </div>

    <div class="btn-group">
      <button type="submit" class="btn btn-success">Entrar</button>
    </div>
  </form>
  </div>
</div>


<div class="col-lg-6">
  <h2  style="color: lightslategrey;">Solicitudes en Línea</h2><br>

  <div class="card p3 mb-2 text-black bg-primary " style="max-width: 30rem;">
      
      <ul class="list-group list-group-flush">
        <li class="list-group-item"*ngFor="let item of items | async "><br>{{item.content}}<br></li>
      
    </ul>
  </div>

</div>
</div>
</div>
</section>